DJANGO_ENV=development
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_LOG_LEVEL=INFO
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
CSRF_TRUSTED_ORIGINS=
INTERNAL_IPS=127.0.0.1
DEFAULT_FROM_EMAIL=noreply@example.com
SERVER_EMAIL=noreply@example.com
SECURE_SSL_REDIRECT=false

SSO_ENABLED=false
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_OP_DISCOVERY_ENDPOINT=
OIDC_VERIFY_SSL=true
